*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    font-family:'Poppins' , sans-serif ;
    
}
.container{
    margin: auto;
    background-color: lightblue;
}

.tweet_container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tweet_wrap{
    display:flex;
    flex-direction: column;
    background-color: #fff;
}
.label_holder{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    border: none;
    font-size: 12px;
}
.tweet_box{
    font-family:'Poppins', sans-serif;
    background-color: rgb(245,245, 245);
    resize: none;
    border: none;
    padding: 0.8em;
    max-width: 460px;
    width:100%;
}
.tweet_box:focus{
    outline:none;
}
.btn_tweet{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.error_msg{
    font-size:14px;
    margin-right:10px;
    color: #ff0000;
}

.btn{
    background-color: #1da1f2;
    font-family: 'Poppins',sans-serif;
    max-width: 80px;
    width: 100%;
    padding: 0.4em;
    border: none;
    color: #fff;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    opacity:0.75;
    cursor:pointer;
}
.tweet_send{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:2em;
    display: none;
}

.back{
    max-width:200px;
}

/*Media queries*/
@media (min-width:748px){
    .tweet_box{
        min-width:440px;
    }
    .label_holder,.btn{
        font-size:18px;
    }
    
}
